body {
    margin: 0;
    padding: 0;
}
.container {
    border: 1px solid red;
    height: 100vh;
}
form.box {
    width: 500px;
    position: absolute;
    top:30%;
    left:40%;
    transfrom:translate(-50%,-50%);
    text-align: center;
}
form.box h1{
    font-weight:normal;
}
form.box input[type=text]   {
    background-color:#fff;
    width:350px;
    padding:10px;
    border-radius:25px 0 0 25px;
}
form.box input[type=submit] {
    width:100px;
    background-color:orange;
    padding:10px;
    border-radius:0 25px 25px 0;
    border:none;
    margin-left:-6px;
}