body {
    margin: 0;
    padding: 0;
}
.container {
    border: 1px solid red;
    height: 100vh;
}
form.box {
    width: 1920px;
    position: absolute;
    top:25%;
    left:-2%;
    transfrom:translate(-50%,-50%);
    text-align: center;/*
    background-color:pink;*/
}
form.boxContent {
    width: 500px;
    position: absolute;
    top:41%;
    left:28%;
    transfrom:translate(-50%,-50%);
    text-align: center;
}
form.box2 {
    width: 500px;
    position: absolute;
    top:25%;
    left:35%;
    transfrom:translate(-50%,-50%);
    text-align: center;
}
form.box h1{
    font-weight:normal;
}
form.box2 h1{
    font-weight:normal;
}
form.box input[type=text]   {
    background-color:#fff;
    width:640px;
    padding:10px;
    border-radius:0 0 0 0;
}
form.box2 input[type=text]   {
    background-color:#fff;
    width:350px;
    padding:10px;
    border-radius:25px 0 0 25px;
}
form.box input[type=submit] {
    width:100px;
    background-color:orange;
    padding:10px;
    border-radius:0 0 0 0;
    border:none;
    margin-left:-6px;
}
form.box2 input[type=submit] {
    width:100px;
    background-color:pink;
    padding:10px;
    border-radius:0 25px 25px 0;
    border:none;
    margin-left:-6px;
}
textarea::placeholder{
font-weight:bold;
}

textarea {
resize:none;
/*border:none;*/
}