<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>검색 결과</title>
    <link rel="stylesheet" href="../../static/style.css">
    <script>
        // progressbar 함수
        function create_progressbar(bar_len, bar_key, bar_value) {
            let progressMother = document.getElementById('progressMother');
            if (bar_len == 1) {
                let new_div = document.createElement('div');
                new_div.setAttribute('class', 'fifty');
                new_div.style.width = bar_value + '%';
                new_div.innerHTML = '<font size="1">' + bar_key[0] + '</font>' + '<div>' + parseInt(bar_value[0]) + '%</div>';
                progressMother.appendChild(new_div)
            } else {
                for (var i = 0; i < bar_len; i++) {
                    let new_div = document.createElement('div');
                    if (i == 0) {
                        new_div.setAttribute('class', 'fifty');
                    } else if (i == bar_len-1) {
                        new_div.setAttribute('class', 'ten');
                    } else {
                        new_div.setAttribute('class', 'twentyfive');
                    }
                    new_div.style.width = bar_value[i] + '%';
                    new_div.innerHTML = '<font size="1">' + bar_key[i] + '</font>' + '<div>' + parseInt(bar_value[i]) + '%</div>';
                    progressMother.appendChild(new_div)
                }
            }
        }

        // 게시물 생성
        function create_post(post_len, post_list) {
            let postMother = document.getElementById('postMother');
            for (var i = 0; i < post_len; i++) {
                let new_button = document.createElement('button');
                new_button.setAttribute('class', 'boardBig');
                new_button.setAttribute('name', 'id');
                new_button.setAttribute('value', post_list[i][0]);
                new_button.innerHTML =
                    '<div>' + post_list[i][1] + '</div>' +
                    '<div>' + post_list[i][2] + '</div>' +
                    '<div>' + post_list[i][3] + '</div>';
                postMother.appendChild(new_button);
            }
        }


        // 카테고리 버튼 생성
        function create_category_button(category_len, category_list) {
            let categoryMother = document.getElementById('categoryMother');
            for (var i = 0; i < category_len; i++) {
                let new_input = document.createElement('input');
                new_input.setAttribute('type', 'submit');
                new_input.setAttribute('name', 'category');
                new_input.setAttribute('value', category_list[i]);
                categoryMother.appendChild(new_input);
            }
        }
    </script>
</head>
<body onload="create_progressbar({{ progressbar_len }}, {{ progressbar_key }}, {{ progressbar_value }});
            create_category_button({{ progressbar_len }}, {{ progressbar_key }});
            create_post({{ post_len }}, {{ post_list }});">
    <div>
        <div class="pageMove">
            <a href="{% url 'list' %}" class="pageMoveSearch">홈</a>
        </div>
        <form class="box2">
            <h1>기사 검색</h1>
            <input type ="text" placeholder="기사 내용..." value="{{ query }}" name="keyword">
            <input type ="submit" value="검색" formaction="/search/" formmethod="get">
        </form>
    </div>
    <div>
        <div class="bar" id="progressMother"></div>
    </div>


    <div class="blank"></div>
    <div>
        <form action="/search/category/" method="get">
            <section id="categoryMother"></section>
        </form>
    </div>


    <form action="/search/post/" method="get">
        <section class="board" id="postMother">
            <div class="boardTop">게시글</div>
        </section>
    </form>
    <div class="blank2"></div>
</body>
</html>