<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>기사 검색</title>
    <link rel="stylesheet" href="../../static/style.css">
    <script>
        // 페이지 새로 고침 시, url parameter 값 제거
        history.replaceState({}, null, location.pathname);


        // progressbar 함수
        function create_progressbar(bar_len, bar_key, bar_value) {
            let progressMother = document.getElementById('progressMother');
            if (bar_len == 1) {
                let new_div = document.createElement('div');
                new_div.setAttribute('class', 'fifty');
                new_div.style.width = bar_value + '%';
                new_div.innerHTML = '<font size="1">' + bar_key[0] + '</font>' + '<div>' + parseInt(bar_value[0]) + '%</div>';
                progressMother.appendChild(new_div)
            } else {
                for (var i = 0; i < bar_len; i++) {
                    let new_div = document.createElement('div');
                    if (i == 0) {
                        new_div.setAttribute('class', 'fifty');
                    } else if (i == bar_len-1) {
                        new_div.setAttribute('class', 'ten');
                    } else {
                        new_div.setAttribute('class', 'twentyfive');
                    }
                    new_div.style.width = bar_value[i] + '%';
                    new_div.innerHTML = '<font size="1">' + bar_key[i] + '</font>' + '<div>' + parseInt(bar_value[i]) + '%</div>';
                    progressMother.appendChild(new_div)
                }
            }
        }

        // 게시물 생성
        function create_post(post_len, post_list) {
            let postMother;
            for(var i = 0; i < post_len; i++) {
                let title_len = post_list[i][1].length;
                if(title_len > 40) {
                    post_list[i][1] = post_list[i][1].substr(0, 40) + '....';
                }
                postMother = document.getElementById('postMother1');
                let new_button = document.createElement('button');
                new_button.setAttribute('class', 'boardSmall');
                new_button.setAttribute('name', 'id');
                new_button.setAttribute('value', post_list[i][0]);
                new_button.innerHTML =
                    '<div class="smallTitle">' +
                        '<h4>' + (i+1) + '</h4>' +
                        '<div class="titleList">' + post_list[i][1] + '</div>' +
                    '</div>' +
                    '<div class="categoryAndTag">' +
                    '<div class="categoryList">[' + post_list[i][2] + ']</div>' +
                    '<div class="tagList">' + post_list[i][3] + '</div>';
                    '</div>';
                postMother.appendChild(new_button);
            }
        }

        function create_issue_tag(tag_list) {
            let tagMother;
            for(var i = 0; i < 10; i++) {
                tagMother = document.getElementById('tagMother');
                let new_div = document.createElement('div');
                new_div.setAttribute('class', 'popularTag');
                new_div.innerHTML = tag_list[i][0];
                tagMother.appendChild(new_div);
            }
        }
    </script>
</head>
<body onload="create_progressbar({{ progressbar_len }}, {{ progressbar_key }}, {{ progressbar_value }});
                create_post({{ post_len }}, {{ post_list }});
                create_issue_tag({{ tag_list }});">
    <div>
        <div class="pageMove">
            <a href="{% url 'write' %}" class="pageMoveInput">입력</a>
            <a href="{% url 'list' %}" class="pageMoveSearch">검색</a>
        </div>
        <form class="box2">
            <a href="{% url 'list' %}" class="pageMoveSelf"><h1>기사 검색</h1></a>
            <input type ="text" placeholder="기사 내용..." name="keyword">
            <input type ="submit" value="검색" formaction="/search/" formmethod="get">
        </form>
    </div>
    <section>
        <div class="popularBox" id="tagMother">
            <div class="popularTop">이슈 태그</div>
        </div>
    </section>
    <div>
        <div class="bar" id="progressMother"></div>
    </div>
    <div class="blank"></div>
    <form action="/search/post/" method="get">
        <section class="board">
            <div class="boardTop"> 게시글 </div>
            <div class="boardBig" id="postMother1"></div>
        </section>
    </form>
    <div class="blank2"></div>
</body>
</html>
