<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>최신 업로드 기사</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <div class="pageMove">
            <a href="{% url 'write' %}" class="pageMoveInput">입력</a>
            <a href="{% url 'list' %}" class="pageMoveSearch">검색</a>
    </div>

    {% csrf_token %}
    <h1>최신 업로드 기사</h1>
    <h2>{{ title }}</h2>
    <div class="bar">
        <div class="fifty">
            <p>50%</p>
        </div>
        <div class="twentyfive">
            <p>25%</p>
        </div>
        <div class="ten">
            <p>10%</p>
        </div>
    </div>
    <p></p>
    <div>{{ document }}</div>
    <p></p>
    <h3>[{{ category }}]</h3>
    <p></p>
    <h3>{{ tags }}</h3>
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="blank2"></div>

</body>
</html>