<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>기사 입력</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <div class="pageMove">
            <a href="{% url 'write' %}" class="pageMoveInput">입력</a>
            <a href="{% url 'list' %}" class="pageMoveSearch">검색</a>
    </div>
    <form class="box">
            <a href="{% url 'write' %}" class="pageMoveSelf"><h1>기사 입력</h1></a>
        <input type ="text" placeholder="기사 제목...">
        <input type ="submit" value="제출">
    </form>
    <form class="boxContent">
        <textarea cols="106" rows="30" placeholder=" 기사 내용..."></textarea>
    </form>
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="blank2"></div>
</body>
</html>