<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>기사 검색</title>
    <link rel="stylesheet" href="../../static/style.css">
    <script>
        // 페이지 새로 고침 시, url parameter 값 제거
        history.replaceState({}, null, location.pathname);


        // progressbar 함수
        function create_progressbar(bar_len, bar_key, bar_value) {
            let progressMother = document.getElementById('progressMother');
            if (bar_len == 1) {
                let new_div = document.createElement('div');
                new_div.setAttribute('class', 'fifty');
                new_div.style.width = bar_value + '%';
                new_div.innerHTML = '<div>' + bar_key[0] + '</div>' + '<div>' + parseInt(bar_value[0]) + '%</div>';
                progressMother.appendChild(new_div)
            } else {
                for (var i = 0; i < bar_len; i++) {
                    let new_div = document.createElement('div');
                    if (i == 0) {
                        new_div.setAttribute('class', 'fifty');
                    } else if (i == bar_len-1) {
                        new_div.setAttribute('class', 'ten');
                    } else {
                        new_div.setAttribute('class', 'twentyfive');
                    }
                    new_div.style.width = bar_value[i] + '%';
                    new_div.innerHTML = '<div>' + bar_key[i] + '</div>' + '<div>' + parseInt(bar_value[i]) + '%</div>';
                    progressMother.appendChild(new_div)
                }
            }
        }
    </script>
</head>
<body onload="create_progressbar({{ progressbar_len }}, {{ progressbar_key }}, {{ progressbar_value }});">
    <div>
        <div class="pageMove">
            <a href="{% url 'write' %}" class="pageMoveInput">입력</a>
            <a href="{% url 'list' %}" class="pageMoveSearch">검색</a>
        </div>
        <form class="box2">
            <a href="{% url 'list' %}" class="pageMoveSelf"><h1>기사 검색</h1></a>
            <input type ="text" placeholder="기사 내용..." name="keyword">
            <input type ="submit" value="검색" formaction="/search/" formmethod="get">
        </form>
    </div>
    <div>
        <div class="bar" id="progressMother"></div>
    </div>

    <div class="blank"></div>
    <form action="/recent/post/" method="get">
        <section class="board">
            <div class="boardTop"> 게시글 </div>
            <div class="boardBig1">
                <button class="boardSmall" name="btn1" value="1">
                    <div class="smallTitle">
                        <h4>1</h4>
                        <div class="categoryList">[{{ list1.1 }}]</div>
                        <div class="titleList">{{ list1.0 }}</div>
                    </div>
                        <div class="tagList">{{ list1.2 }}</div>
                </button>
                <button class="boardSmall" name="btn6" value="6">
                    <div class="smallTitle">
                        <h4>6</h4>
                        <div class="categoryList">[{{ list6.1 }}]</div>
                        <div class="titleList">{{ list6.0 }}</div>
                    </div>
                        <div class="tagList">{{ list6.2 }}</div>
                </button>
            </div>
            <div class="boardBig2">
                <button class="boardSmall" name="btn2" value="2">
                    <div class="smallTitle">
                        <h4>2</h4>
                        <div class="categoryList">[{{ list2.1 }}]</div>
                        <div class="titleList">{{ list2.0 }}</div>
                    </div>
                        <div class="tagList">{{ list2.2 }}</div>
                </button>
                <button class="boardSmall" name="btn7" value="7">
                    <div class="smallTitle">
                        <h4>7</h4>
                        <div class="categoryList">[{{ list7.1 }}]</div>
                        <div class="titleList">{{ list7.0 }}</div>
                    </div>
                        <div class="tagList">{{ list7.2 }}</div>
                </button>
            </div>
            <div class="boardBig3">
                <button class="boardSmall" name="btn3" value="3">
                    <div class="smallTitle">
                        <h4>3</h4>
                        <div class="categoryList">[{{ list3.1 }}]</div>
                        <div class="titleList">{{ list3.0 }}</div>
                    </div>
                        <div class="tagList">{{ list3.2 }}</div>
                </button>
                <button class="boardSmall" name="btn8" value="8">
                    <div class="smallTitle">
                        <h4>8</h4>
                        <div class="categoryList">[{{ list8.1 }}]</div>
                        <div class="titleList">{{ list8.0 }}</div>
                    </div>
                        <div class="tagList">{{ list8.2 }}</div>
                </button>
            </div>
            <div class="boardBig4">
                <button class="boardSmall" name="btn4" value="4">
                    <div class="smallTitle">
                        <h4>4</h4>
                        <div class="categoryList">[{{ list4.1 }}]</div>
                        <div class="titleList">{{ list4.0 }}</div>
                    </div>
                        <div class="tagList">{{ list4.2 }}</div>
                </button>
                <button class="boardSmall" name="btn9" value="9">
                    <div class="smallTitle">
                        <h4>9</h4>
                        <div class="categoryList">[{{ list9.1 }}]</div>
                        <div class="titleList">{{ list9.0 }}</div>
                    </div>
                        <div class="tagList">{{ list9.2 }}</div>
                </button></div>
            <div class="boardBig5">
                <button class="boardSmall2" name="btn5" value="5">
                    <div class="smallTitle">
                        <h4>5</h4>
                        <div class="categoryList">[{{ list5.1 }}]</div>
                        <div class="titleList">{{ list5.0 }}</div>
                    </div>
                        <div class="tagList">{{ list5.2 }}</div>
                </button>
                <button class="boardSmall2" name="btn10" value="10">
                    <div class="smallTitle">
                        <h4>10</h4>
                        <div class="categoryList">[{{ list10.1 }}]</div>
                        <div class="titleList">{{ list10.0 }}</div>
                    </div>
                        <div class="tagList">{{ list10.2 }}</div>
                </button>
            </div>
        </section>
    </form>
    <div class="blank2"></div>
</body>
</html>
