<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>기사 내용</title>
    <link rel="stylesheet" href="../../static/style.css">
    <script>
        function back_site() {
            history.go(-1);
        }
    </script>
</head>
<body>
    <div class="pageMove">
            <a class="pageMoveInput" onclick="back_site();">«</a>
    </div>

    {% csrf_token %}
    <h2>{{ title }}</h2>
    <p></p>
    <div>{{ document }}</div>
    <p></p>
    <h3>[{{ category }}]</h3>
    <p></p>
    <h3>{{ tags }}</h3>
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="blank2"></div>

</body>
</html>